In [11]:
import mysql.connector

# Configurar a conexão com o banco de dados
conexao = mysql.connector.connect(
    host="localhost",
    user= "usermysql",
    password="cursomysql",
    database="abasteceai"
    )

# Criar um objeto cursor para executar comandos SQL
cursor = conexao.cursor()

# Comando SQL para criar tabela
criar_tabela = """
CREATE TABLE IF NOT EXISTS tabela_abastecimento(
    id INT AUTO_INCREMENT PRIMARY KEY,
    a_combustivel VARCHAR(255) NOT NULL,
    a_litros DECIMAL(10, 2) NOT NULL,
    a_valor DECIMAL(10, 2) NOT NULL,
    a_quilometragem DECIMAL(10, 2) NOT NULL,
    a_dataAbastecimento DATE NOT NULL,
    a_horaAbastecimento TIME NOT NULL
    )
    """

# Executar o comando SQL para criar a tabela
cursor.execute(criar_tabela)

# Dados a serem inseridos na tabela

a_combustivel = 'Etanol'
a_litros = 17.80
a_valor = 60
a_quilometragem = 177.1
a_dataAbastecimento = '2023-10-29'
a_horaAbastecimento = '18:41:55'

# Comando SQL para inserir dados na tabela
inserir_dados = """
    INSERT INTO tabela_abastecimento (a_combustivel, a_litros, a_valor, a_quilometragem, a_dataAbastecimento, a_horaAbastecimento)
        VALUES (%s, %s, %s, %s, %s, %s)
        """


# Valores a serem inseridos
valores = (a_combustivel, a_litros, a_valor, a_quilometragem, a_dataAbastecimento, a_horaAbastecimento)

# Executar o comando SQL para inserir dados
cursor.execute(inserir_dados, valores)

# Fazer o commit das alterações no banco de dados
conexao.commit()

# Fechar o cursor e a conexao
cursor.close()
conexao.close()

print("Table Create With Successfully !" )

Table Create With Successfully !