In [1]:
import mysql.connector

# Configurar a conexão com o banco de dados
conexao = mysql.connector.connect(
    host="root@localhost:3306",
    user="root",
    password="toor",
    database="gallon"
)

# Criar um objeto cursor para executar comandos SQL
cursor = conexao.cursor()

# Comando SQL para criar a tabela
criar_tabela = """
    CREATE TABLE IF NOT EXISTS tabela_abastecimento (
        id INT AUTO_INCREMENT PRIMARY KEY,
        combustivel VARCHAR(255) NOT NULL,
        litros DECIMAL(10, 2) NOT NULL,
        valor DECIMAL(10, 2) NOT NULL,
        quilometragem DECIMAL(10, 2) NOT NULL
    )
"""

# Executar o comando SQL para criar a tabela
cursor.execute(criar_tabela)

# Dados a serem inseridos na tabela
combustivel = "Gasolina"
litros = 45.5
valor = 120.0
quilometragem = 55000.0

# Comando SQL para inserir dados na tabela
inserir_dados = """
    INSERT INTO tabela_abastecimento (combustivel, litros, valor, quilometragem)
    VALUES (%s, %s, %s, %s)
"""

# Valores a serem inseridos
valores = (combustivel, litros, valor, quilometragem)

# Executar o comando SQL para inserir dados
cursor.execute(inserir_dados, valores)

# Fazer o commit das alterações no banco de dados
conexao.commit()

# Fechar o cursor e a conexão
cursor.close()
conexao.close()

print("Tabela criada e dados inseridos com sucesso!")

ModuleNotFoundError: ignored