In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

ModuleNotFoundError: No module named 'pyspark'

In [3]:
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2., c='string1', d=date(2000, 1, 1), e=datetime(2000, 1, 1, 12, 0)),
    Row(a=2, b=3., c='string2', d=date(2000, 2, 1), e=datetime(2000, 1, 2, 12, 0)),
    Row(a=4, b=5., c='string3', d=date(2000, 3, 1), e=datetime(2000, 1, 3, 12, 0))
])

In [2]:
conda install pyspark

/media/obarreto/MSDOSX/library-iso/anaconda-navigator/lib/python3.11/site-packages/conda/base/context.py:201: FutureWarning: Adding 'defaults' to channel list implicitly is deprecated and will be removed in 25.3.

To remove this warning, please choose a default channel explicitly with conda's regular configuration system, e.g. by adding 'defaults' to the list of channels:

  conda config --add channels defaults

For more information see https://docs.conda.io/projects/conda/en/stable/user-guide/configuration/use-condarc.html

  deprecated.topic(
/media/obarreto/MSDOSX/library-iso/anaconda-navigator/lib/python3.11/site-packages/conda/base/context.py:201: FutureWarning: Adding 'defaults' to channel list implicitly is deprecated and will be removed in 25.3.

To remove this warning, please choose a default channel explicitly with conda's regular configuration system, e.g. by adding 'defaults' to the list of channels:

  conda config --add channels defaults

For more information see https://docs.conda.io/projects/conda/en/stable/user-guide/configuration/use-condarc.html

  deprecated.topic(
Channels:
 - defaults
 - anaconda
Platform: linux-64
doneackage metadata (repodata.json): -
doneent: \

## Package Plan ##

  environment location: /media/obarreto/MSDOSX/library-iso/anaconda-navigator

  added / updated specs:
    - pyspark


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    py4j-0.10.9.7              |  py311h06a4308_0         306 KB
    pyspark-3.5.4              |  py311h06a4308_1       299.7 MB
    ------------------------------------------------------------
                                           Total:       300.0 MB

The following NEW packages will be INSTALLED:

  py4j               pkgs/main/linux-64::py4j-0.10.9.7-py311h06a4308_0
  pyspark            pkgs/main/linux-64::pyspark-3.5.4-py311h06a4308_1



Downloading and Extracting Packages:
pyspark-3.5.4        | 299.7 MB  |                                       |   0%
pyspark-3.5.4        | 299.7 MB  |                                       |   0%
pyspark-3.5.4        | 299.7 MB  |                                       |   0%
pyspark-3.5.4        | 299.7 MB  |                                       |   0%
pyspark-3.5.4        | 299.7 MB  |                                       |   0%
pyspark-3.5.4        | 299.7 MB  | 1                                     |   0%
py4j-0.10.9.7        | 306 KB    | ####################################7 |  99%
pyspark-3.5.4        | 299.7 MB  | 1                                     |   0%


donearing transaction: -
donefying transaction: /
doneuting transaction: |

Note: you may need to restart the kernel to use updated packages.

In [4]:
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [6]:
df = spark.createDataFrame([
    Row(1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    Row(2, 3., 'string2', date(2000, 2, 1), datetime(2000, 1, 2, 12, 0)),
    Row(3, 4., 'string3', date(2000, 3, 1), datetime(2000, 1, 3, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [7]:
# All DataFrames above result same.
df.show()
df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-01-02 12:00:00|
|  3|4.0|string3|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [8]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [9]:
df.show(1)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+
only showing top 1 row

In [12]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [13]:
df.show(1, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
only showing top 1 row

In [14]:
df.columns

['a', 'b', 'c', 'd', 'e']

In [15]:
df.select("a", "b", "c").describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   NULL|
| stddev|1.0|1.0|   NULL|
|    min|  1|2.0|string1|
|    max|  3|4.0|string3|
+-------+---+---+-------+

In [16]:
df.collect()

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 1, 2, 12, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 1, 3, 12, 0))]

In [17]:
df.take(1)

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0))]

In [18]:
df.toPandas()

/home/wspace/.local/lib/python3.10/site-packages/pyspark/sql/pandas/types.py:563: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if not is_datetime64tz_dtype(pser.dtype):
/home/wspace/.local/lib/python3.10/site-packages/pyspark/sql/pandas/types.py:379: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if is_datetime64tz_dtype(s.dtype):

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-01-02 12:00:00
2  3  4.0  string3  2000-03-01 2000-01-03 12:00:00

In [19]:
df.a

Column<'a'>

In [26]:
from pyspark.sql import Column
from pyspark.sql.functions import uppper

type(df.c) == type(upper(df.c)) == type(df.c.isNull())

ImportError: cannot import name 'uppper' from 'pyspark.sql.functions' (/home/wspace/.local/lib/python3.10/site-packages/pyspark/sql/functions.py)