In [25]:
import pandas as pd
import numpy as np

data = {'Estado' : ['Sao Paulo', 'Sao Paulo', 'Sao Paulo', 'Parana', 'Parana', 'Parana', 'Bahia', 'Bahia'],
        'Ano' : [2000,2001,2002,2001,2003,2000,2001, 2000],
        'Populacao' : [1.5, 1.8, 2.2, 1, 2, 3, 1.1, 3]}
data

{'Ano': [2000, 2001, 2002, 2001, 2003, 2000, 2001, 2000],
 'Estado': ['Sao Paulo',
  'Sao Paulo',
  'Sao Paulo',
  'Parana',
  'Parana',
  'Parana',
  'Bahia',
  'Bahia'],
 'Populacao': [1.5, 1.8, 2.2, 1, 2, 3, 1.1, 3]}

In [26]:
frame = pd.DataFrame(data, columns=['Ano', 'Estado', 'Populacao'])
frame

    Ano     Estado  Populacao
0  2000  Sao Paulo        1.5
1  2001  Sao Paulo        1.8
2  2002  Sao Paulo        2.2
3  2001     Parana        1.0
4  2003     Parana        2.0
5  2000     Parana        3.0
6  2001      Bahia        1.1
7  2000      Bahia        3.0

In [0]:
frame2 = frame.append(frame, ignore_index=True)