In [1]:
import pandas as pd
import seaborn as sns

In [ ]:
!pip install seaborn

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
iris = sns.load_dataset('iris')

In [4]:
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [ ]:
iris = ['species'].value_counts()

In [ ]:
iris

In [ ]:
sns.pairplot(iris)

In [ ]:
sns.pairplot(iris, hue='species')

In [ ]:
sns.get_dataset_names()

In [ ]:
Exercícios de fixação VIII
Ozeias Barreto
Questão 1

Você está buscando avaliar se duas classes de um dataset podem ser discriminadas por algum par de variáveis deste conjunto de dados

Uma forma prática de fazer isso é:

Utilizar a função Pairplot, com o pârametro hue sendo usado para comparar as classes

Utilizar a função Pairplot, sem pârametros adicionais

Fazer o scatterplot um a um entre os pârametros, usando o hue para separar as classes

Utilizar a função histplot de pârametro em pârametro, para ver a separação dos dados com uma única variável
Questão 2

Trabalhando em uma imobiliária, você recebe um dataset de residencias com seu preço de venda.

Você está explorando a correlação entre a variável Price e as demais variáveis, tentando determinar se é possível fazer uma previsão de valor de casas novas baseado nesses parâmetros.

O gráfico gerado para as distribuições das variáveis duas a duas está a seguir:

É possível aproximar os dados usando uma reta?

Parece ser possível aproximar os dados usando uma reta, pois a variável Avg Area Number of Bedrooms apresenta caráter similar a retas na sua correlação com o preço

Não parece ser possível aproximar os dados usando uma reta, nenhuma das variáveis tem um gráfico que indique boa correlação linear entre ela e o preço

Parece ser possível aproximar os dados usando uma reta, pois a variável Avg Area Income parece ter boa correlação linear com o preço

Não deve ser possível aproximar os dados usando uma reta, pois a variável Price tem formato de uma parábola